asgiref==3.4.1
Django==3.2.7
Markdown==3.3.4
Pillow==8.3.2
Pygments==2.10.0
pytz==2021.1
sqlparse==0.4.1
social_auth_app_django
requests
Gunicorn
psycopg2-binary
django-debug-toolbar
django-debug-toolbar-template-profiler
django-extensions
python-memcached